.background_container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/landing_bg.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: fit-content;
    /* border: 1px solid #E6DF4B; */
}


.title {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title h1 {
    font-family: 'Anton', sans-serif;
    padding: 10rem, 0.8rem;
    /* background-color: #F0E824; */
    max-width: fit-content;
    /* border: 1px solid #530105; */
    /* color: white; */
    font-size: 6rem;
    /* border: 1px solid #E6DF4B; */
}

.highlighted_text {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    background-color: #F0E824;
    font-size: 16px;
    line-height: 1.5;
}

.highlighted_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    /* Adjust this value to control the extra width on the left */
    right: -5px;
    /* Adjust this value to control the extra width on the right */
    bottom: 0;
    background-color: yellow;
    /* Match the background color of the text */

    /* Adjust other styling as needed */
    z-index: -1;
    /* Place the background behind the text */
}


/* .title h2 {
    max-width: fit-content;
    background-color: #F0E824;
} */

/* header {
    width: 100%;
    background-color: black;
    padding: 1.2rem;
} */

.about {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('../img/about_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% center;
    display: flex;
    flex-direction: column;
    color: white;
}

.deco-img {
    align-self: flex-end;
    margin-right: 18rem;
    /* border: 1px solid white; */
}

.flip-horizontal {
    transform: scaleX(-1);
}

.about h1 {
    align-self: center;
    margin-top: 20rem;
    margin-bottom: 3rem;
}

.about h3 {
    align-self: center;
}

.about p {
    color: white;
    max-width: 50%;
    align-self: center;
    text-align: center;
}

.background_container_1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('../img/bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: -150% center; */

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap:1rem; */
    min-width: fit-content;
    background-position: 0 bottom;
}

.background_container_1 h1 {
    color: white;
    width: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 5rem;
    transform: rotate(-8deg);
    transform-origin: top left;
    margin-left: 1.5rem;
    margin-top: 28rem;
    /* border: 1px solid #E6DF4B; */
}

.subtitle {
    /* color: white; */
    padding: 0.3rem;
    background-color: #F0E824;
    transform: rotate(-8deg);
    transform-origin: bottom left;
    margin-left: 1.5rem;
    margin-top: -1rem;
    width: fit-content;
    /* border: 1px solid #E6DF4B; */
}

.section_description {
    width: 30%;
    color: white;
    margin-top: -15rem;
    padding-left: 8rem;
    align-self: center;
    text-align: center;
}

.description_button {
    margin: auto;
    padding-left: 8rem;
}

.background_container_1 input {
    width: 100%;
}

.background_container_2 {
    width: 100%;
    height: 125vh;
    overflow: hidden;
    background-color: #F0E824;
    background-image: url('../img/iat_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 50% center; */
    background-position: 50% bottom;
    /* 将 center 改为 bottom */
}

.info {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.info h1 {
    margin-left: 0.5rem;
    font-size: 19vw;
    margin-top: -3%;
}

.SIAT_subtitle {
    margin-top: auto;
    margin-left: 0;
    padding-left: 5rem;
}

.detail_info {
    padding-left: 5rem;
    width: 40%;
}

.info input {
    margin-left: 5rem;
    width: 500px;
}

@media only screen and (max-width: 1500px) {
    .deco-img {
        margin-right: 13rem;
        margin-top: -10rem;
        margin-bottom: 10rem;
        scale: 0.8;
        /* border: 1px solid white; */
    }

    .info_button {
        margin-left: 5rem;
        width: 400px;
    }


}

@media only screen and (max-width: 1400px) {
    .background_container_1 {
        background-position: 0 50%;
    }

    .background_container_1 h1 {
        font-size: 4rem;
        margin-top: 24rem;
        /* border: 1px solid #E6DF4B; */
    }

    .subtitle {
        font-size: 0.5rem;
    }

    .section_description {
        font-size: 0.5rem;
        margin-top: -10rem;
    }

    .background_container_1 input {
        width: 300px;
        margin-top: -5rem;
    }

}

@media only screen and (max-width: 1350px) {
    p {
        font-size: 0.8rem;
    }

    .deco-img {
        margin-right: 10rem;
        margin-top: -10rem;
        /* border: 1px solid white; */
    }
}

@media only screen and (max-width: 1300px) {
    .title h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 1100px) {
    .background_container_1 h1 {
        font-size: 3rem;
        margin-top: 24rem;
        /* border: 1px solid #E6DF4B; */
    }

    .subtitle {
        font-size: 0.5rem;
        margin-top: 0rem;
    }

    .section_description {
        width: 33%;
        padding-left: 5rem;
    }

    .description_button {
        margin: 3rem auto;
        padding-left: 5rem;
    }

}

@media only screen and (max-width: 1000px) {
    .about h1 {
        margin-left: 5%;
        max-width: 60%;
        text-align: center;
        align-self: flex-start;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }

    .about h3 {
        margin-left: 10%;
        max-width: 50%;
        text-align: center;
        align-self: flex-start;
    }

    .about p {
        margin-left: 10%;
        max-width: 50%;
        text-align: center;
        align-self: flex-start;
    }

    .background_container_2 {
        background-position: -10rem 100%;
    }

    .SIAT_subtitle {
        margin: 0;
        padding: 0;
    }

    .detail_info {
        text-align: center;
        margin: 0;
        padding: 0;
        width: 60%;
    }

    .info input {
        width: 450px;
    }

    .info {
        min-height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: fit-content;
        gap: 2rem;
        margin: auto;
    }

    .info input {
        width: 500px;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 900px) {
    .title h1 {
        font-size: 3rem;
    }

    .background_container_1 {
        /* width: 100%;
        height: 120vh; */
        background-image: url('../img/bg2_2.png');
        background-position: 0 105%;
    }

    .background_container_1 h1 {
        /* font-size: 16rem; */
        font-weight: lighter;
        align-self: center;
        transform: rotate(0);
        margin-top: 3rem;
        margin-left: 0;
        padding: 0;
        /* border: 1px solid #E6DF4B; */
    }

    .subtitle {
        font-family:'FKRasterRomanCompactTrial-Blended', sans-serif;
        font-size: 1rem;
        align-self: center;
        transform: rotate(0);
        margin-top: 0.5rem;
        text-align: center;
        /* padding: 0;
        color: white;
        background: none; */
    }

    .section_description {
        font-size: 0.5rem;
        width: 45%;
        margin-top: 1rem;
        padding-left: 0;
        margin-bottom: 0;
    }

    .description_button {
        align-self: center;
        padding: 0;
    }

    .background_container_1 input {
        width: 200px;
    }

    .box_button{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .about {
        background-position: 100% center;
        background-position: center top 18rem;
    }

    .about p {
        margin-top: -5rem;
    }

    .background_container_2 {
        background-position: -9rem 100%;
    }

    .info {
        gap: 2.5rem;
    }

    .info input {
        width: 400px;
    }
}

@media only screen and (max-width: 700px) {
    .title h1 {
        font-size: 1.8rem;
    }

    .title {
        margin-left: 3%;
    }

    .about h1 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .background_container_2 {
        background-position: -16rem 100%;
        background-size: 130% auto;
    }
}

@media only screen and (max-width: 600px) {
    .about h1 {
        font-size: 2rem;
        max-width: 100%;
        align-self: center;
        margin: 3rem;
    }

    .about h3 {
        text-align: left;
        max-width: 60%;
        font-size: 1rem;
        align-self: flex-start;
    }

    .about p {
        max-width: 58%;
        margin-top: -22rem;
        text-align: left;
    }

    .deco-img {
        margin-right: 5rem;
        margin-top: 8rem;
        /* border: 1px solid white; */
    }

    .background_container_2 {
        background-position: -17rem 100%;
        background-size: 140% auto;
    }
}

@media only screen and (max-width: 500px) {
    .about {
        background-position: center top 20rem;
    }

    .about h1 {
        font-size: 1.5rem;
    }

    .info {
        margin-top: 5rem;
    }

    .info h1 {
        margin-left: 0;
    }

    .background_container_2 {
        background-position: -14rem 100%;
        background-size: 140% auto;
    }

    .info input {
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .background_container {
        width: 150%;
        height: 150vh;
    }

    .about h3 {
        text-align: left;
        max-width: 60%;
        font-size: 0.5rem;
        align-self: flex-start;
        margin-top: 6rem;
        margin-bottom: 0;
    }

    .about {
        width: 150%;
        height: 100vh;
    }

    .about p {
        margin-top: -22rem;
    }

    .background_container_2 {
        width: 150%;
        height: 100vh;
        background-position: 1rem 100%;
        background-size: 75% auto;
    }

    .background_container_1 {
        width: 150%;
        height: 100vh;
        /* background-position: 1rem 100%;
        background-size: 75% auto; */
    }
}

@media only screen and (max-width: 400px) {
    .about {
        background-position: center top 25rem;
    }

    .background_container_2 {
        background-position: -2rem 100%;
        background-size: 85% auto;
    }
}

@media only screen and (max-width: 310px) {
    .about {
        background-position: center top 30rem;
    }

    .background_container_2 {
        background-position: -5rem 100%;
        background-size: 100% auto;
    }
}