.background_container {
    width: 100%;
    height: 100vh;
    background-image: url('/img/Group\ 3\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: fit-content;
    /* border: 1px solid #E6DF4B; */
}


.title {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title h1 {
    font-family: 'Anton', sans-serif;
    padding: 10rem, 0.8rem;
    /* background-color: #F0E824; */
    max-width: fit-content;
    /* border: 1px solid #530105; */
    /* color: white; */
    font-size: 6rem;
    /* border: 1px solid #E6DF4B; */
}

.highlighted_text {
    position: relative;
    display: inline-block;
    /* This will make the background width adjust to the content */
    padding: 0 10px;
    /* Adjust padding to control the background width */
    background-color: #F0E824;
    /* Set the background color */

    /* Adjust other styling as needed */
    font-size: 16px;
    line-height: 1.5;
}

.highlighted_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    /* Adjust this value to control the extra width on the left */
    right: -5px;
    /* Adjust this value to control the extra width on the right */
    bottom: 0;
    background-color: yellow;
    /* Match the background color of the text */

    /* Adjust other styling as needed */
    z-index: -1;
    /* Place the background behind the text */
}


/* .title h2 {
    max-width: fit-content;
    background-color: #F0E824;
} */

header {
    /* border: 1px solid #E6DF4B; */
    width: 100%;
    background-color: black;
    padding: 1.2rem;
}

.background_container_1 {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('/img/bg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: -150% center; */

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap:1rem; */
    min-width: fit-content;
}

.background_container_1 h1 {
    color: white;
    width: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 5rem;
    transform: rotate(-8deg);
    transform-origin: top left;
    margin-left: 1.5rem;
    margin-top: 20vw;
    /* border: 1px solid #E6DF4B; */
}

.subtitle {
    /* color: white; */
    padding: 0.3rem;
    background-color: #F0E824;
    transform: rotate(-8deg);
    transform-origin: bottom left;
    margin-left: 1.5rem;
    margin-top: -1rem;
    width: fit-content;
    /* border: 1px solid #E6DF4B; */
}

.section_description {
    width: 30%;
    color: white;
    margin-top: -3rem;
    padding-left: 8rem;
    align-self: center;
    text-align: center;
}

.description_button {
    margin: auto;
    padding-left: 8rem;
}

.background_container_1 input {
    width: 100%;
}

.background_container_2 {
    width: 100%;
    height: 125vh;
    overflow: hidden;
    background-color: #F0E824;
    background-image: url('/img/Desktop\ -\ 10.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% center;
}

.info {
    min-height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap:1rem; */
    min-width: fit-content;
    /* justify-items: left;
    align-self: flex-end; */
}

.SIAT_subtitle {
    margin-top: auto;
    margin-left: 0;
    padding-left: 5rem;
}

.detail_info {
    padding-left: 5rem;
    width: 40%;
}

.info_button {
    margin-left: 5rem;
    width: 20%;
}


@media only screen and (max-width: 1300px) {
    .title h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 900px) {
    .title h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 700px) {
    .title h1 {
        font-size: 1.8rem;
    }

    .title {
        margin-left: 3%;
    }
}

@media only screen and (max-width: 550px) {
    /* .title h1 {
        font-size: 1.5rem;
    } */

}

@media only screen and (max-width: 450px) {
    .background_container{
        width: 150%;
    }
}