.background_container {
    width: 100vw;
    height: 100vh;
    background-color: #E6DF4B;
    background-image: url('/img/pexels-mike-bird-114820.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: fit-content;
}


.title {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0, 0.9); */
    /* background-color: #E6DF4B; */
    /* text-align:center; */
    margin: auto;
    gap:2rem;
    /* padding: 5rem; */
}

.title h1 {
    font-family: 'Anton', sans-serif;
    background-color: #F0E824;
    /* max-width: fit-content; */
    /* color: white; */
    font-size: 6rem;
    /* border: 1px solid #E6DF4B; */
}

.title h2 {
    max-width: fit-content;
    /* color: white; */
    background-color: #F0E824;
}

header{
    background-color: black;
    padding: 1.2rem;
}


@media only screen and (max-width: 1300px) {
    .title h1 {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .title {
        padding: 6rem;
    }

}

@media only screen and (max-width: 517px) {
    .title {
        padding: 11rem;
    }
}