/* basic setting */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Geomanist', sans-serif;
    margin: auto;
    line-height: 1.5;
    cursor: url('../img/mouse_cursor.png'), auto;
    /* background-color: #F0E824; */
}

a {
    cursor: url('../img/cursor_focus.png'), auto;
}

::selection {
    background-color: #F0E824;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    font-family: 'FKRasterRomanCompactTrial-Blended', sans-serif;
    margin: 0%;
    letter-spacing: 1.5px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 1.2rem;
}


header h4 {
    margin-left: 2.5vw;
    margin-top: 1vw;
    font-size: large;
    font-weight: normal;
    color: white;
}

.fake_box_button {
    margin-top: 1rem;
    margin-left: 5rem;
    border: 1px #000000;
    width: fit-content;
    font-family: 'FKRasterRomanCompactTrial-Blended', sans-serif;
    font-size: 2rem;
    display: inline-block;
    padding: 30px 50px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: none;
    transition: background-color 0.3s ease;
}

.no_margin{
    margin: 0;
}

.black_bg{
    background-color: black;
    color: white;
}

.black_bg:hover, .black_bg:focus{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.fake_box_button:hover, .fake_box_button:focus {
    background-color:#F0E824;
    color: black;
}


.non_deco {
    text-decoration: none;
}

.nav_title {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 2rem;
}

.aline_center_text {
    text-align: center;
    max-width: 60%;
    margin: auto;
}

/* interactive element */

.title_container {
    display: flex;
    align-items: flex-end;
    height: 80vh;
    margin-bottom: 4rem;
}

.title_container h1 {
    margin-left: -100rem;
    margin-right: 2rem;
    font-size: 18rem;
    letter-spacing: 1.5rem;
}

.yellow_box {
    background-color: #F0E824;
    margin: 0%;
    width: 85vw;
    height: 25vh;
}

.style_nav {
    display: flex;
    font-family: 'FKRasterRomanCompactTrial-Blended', sans-serif;
    gap: 1rem;
    max-width: fit-content;
    margin-right: 2vw;
    margin-top: 1vw;
}

.nav_button {
    font-size: large;
    text-align: right;
    margin-right: 1rem;
    color: white;
    text-decoration: underline 0.8px;
    background-color: none;
}

.in_text_link {
    font-style: italic;
    color: black;
    text-decoration: underline 1.5px;
    background-color: none;
}

.in_text_link:hover,
.in_text_link:focus,
.nav_button:hover,
.nav_button:focus {
    color: #000000;
    background-color: #F0E824;
}

.in_text_link_v2 {
    font-style: italic;
    color: white;
    text-decoration: underline 1.5px;
    background-color: none;
}

.in_text_link_v2:hover,
.in_text_link_v2:focus,
.nav_button:hover,
.nav_button:focus {
    color: #000000;
    background-color: #F0E824;
}

.element_container {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.para_with_link {
    width: 48%;
    margin-right: auto;
    padding-left: 1.5rem;
    border-left: 2px solid #F0E824;
}

.nav_and_reset_button_element {
    display: flex;
    justify-content: space-around;
    text-align: right;
    gap: 3rem;
    width: 45%;
    margin: auto;
}

.box_button {
    padding: 1.5rem 3rem;
    border: 2px solid black;
    background-color: white;
    font-family: 'FKRasterRomanCompactTrial-Blended', sans-serif;
    font-size: 2rem;
}

.box_button:hover,
.box_button:focus {
    border: 2px solid #F0E824;
    background-color: #F0E824;
    cursor: url('../img/cursor_focus.png'), auto;
}

h3 {
    margin-bottom: 1.5rem;
}

.image_as_link {
    text-align: center;
    margin: 6rem;
}

.project_intro {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.project_pic {
    padding: 2rem;
    margin: auto;
}

.design_description {
    padding: 2rem;
    margin: auto;
}

.text_element_container {
    display: flex;
    justify-content: space-around;
    margin: 8rem;
}

.heading_element {
    min-width: 45%;
    margin-left: auto;
}

.paragraph_element {
    max-width: 40%;

}

.navi_font {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid brown; */
    margin: 6rem;
}

.main_navigation {
    min-width: 28%;
}

.font_choice {
    max-width: 28%;
}

.Colour_palettes {
    max-width: 28%;
}

.color_yellow {
    background-color: #F0E824;
}

.color_black {
    background-color: black;
    color: white;
}

.Colour_palettes li {
    list-style: none;
    width: 6rem;
    height: 3rem;
}

.Art_direction {
    display: flex;
    margin: 4rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.film-frame {
    width: 60%;
    height: 35rem;
    /* margin: auto; */
    position: relative;
    overflow: hidden;
}

.film-strip {
    display: flex;
    flex-direction: column;
    animation: scrollFilmStrip 12s linear infinite;
}

.film-strip img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@keyframes scrollFilmStrip {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-200px * 6));
    }
}

@keyframes scrollFilmStripSmallScreen {
    0% {
        transform: translateX(0);
        /* 使用 translateX 实现水平滚动 */
    }

    100% {
        transform: translateX(calc(-320px * 6));
        /* 调整位移值 */
    }
}

footer {
    background-color: #000000;
    width: 100%;
    /* margin-top: 3rem; */
    padding: 5rem 3rem;
    border-top: 1px solid white;
}

footer h4 {
    padding-bottom: 0.25rem;
    margin-bottom: 0;
    color: white;
    /* border: 1px solid red; */
}

.footer_content {
    color: white;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.footer_item {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_item a {
    font-size: 0.8rem;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

/* 
.footer_link_button {
    display: flex;
    gap: 14px;
} */
.footer_link_button {
    font-style: italic;
    color: white;
    text-decoration: underline 1.5px;
    background-color: none;
}

.footer_link_button:hover,
.footer_link_button:focus {
    background-color: #F0E824;
    color: black;
}

@media only screen and (max-width: 1500px) {
    .film-frame {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    .film-frame {
        margin-top: 6rem;
    }
}

@media only screen and (max-width:1000px) {
    .fake_box_button{
        margin: 0;
        font-size: 1rem;
        padding: 15px 15px;
    }

    .black_bg{
        margin: 0;
    }
}

@media only screen and (max-width:900px) {
    .fake_box_button{
        font-size: 1rem;
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 700px) {

    .film-frame {
        width: 100%;
        height: 15rem;
    }
    
    .film-strip {
        flex-direction: row;
        animation: scrollFilmStripSmallScreen 20s linear infinite;
    }
}

@media only screen and (max-width: 600px) {
    .footer_content {
        display: block;
    }

    .footer h4 {
        padding-bottom: 0;
    }

    .footer_item {
        margin-bottom: 2rem;
    }

    .footer_item a {
        margin-top: 3px;
        /* border: 1px solid red; */
    }

}

@media only screen and (max-width: 450px) {
    footer {
        width: 150%;
    }

    footer h4 {
        padding-bottom: 0.25rem;
        margin-bottom: 0;
        color: white;
        /* border: 1px solid red; */
    }

    .footer_content {
        color: white;
        max-width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .footer_item {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer_item a {
        font-size: 0.8rem;
        margin-top: 1rem;
        /* border: 1px solid red; */
    }

    @media only screen and (max-width: 350px) {
        .footer_content {
            display: block;
        }

        .footer h4 {
            padding-bottom: 0;
        }

        .footer_item {
            margin-bottom: 2rem;
        }

        .footer_item a {
            margin-top: 3px;
            /* border: 1px solid red; */
        }
    }
}